{% extends 'base.html' %}
{% load static %}

{% block title %}Review{% endblock title %}

{% block content %}
<section>
        <h1>Review</h1>
        {% if user.is_authenticated %}
        <h1>Do you want to add a new review?<a href="{% url 'post_new' %}"> Click Here!</a></h1>
        {% else %}
        <h1>Do you want to add a new review?<a href="{% url 'login' %}"> Login In</a></h1>
        {% endif %}
        {% for post in post_list %}
    <div class="row">
        <div class="column" >
            <div class="card">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-pen"></i>
                </div>
                <h3 class="card-title text-dark">Title: {{ post.title }}</h3>
                <p><b> Author: {{ post.author }}</b></p>
                <p>{{post.body|truncatechars:50}}</p>
                <p>{{ post.created_on }}</p>
                <a href="{% url 'post_detail' post.id %} ">Click here</a>
            </div>
        </div>
    </div>
    {% endfor %}
</section>


{% endblock content %}