{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}

<!---     <section>
            <div class="row">
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-thumbtack"></i>
                </div>
                <h1>Welcome to Reviews no one asked for</h1>
            </div>
        </div>
    </div>
    </section>-->
    <div class="content">
        <h1>Welcome to <br><span>Reviews no one asked for</span></h1>
        <p class="par">Do you have a better opinion?<br> Share it! </p>
        <button class="cn"><a href="{% url 'login' %}"> Log In </a></button>
    </div>
{% endblock content %}